@font-face {
	font-family: 'BahnShit'; 
	src: url(../Fonts/Bahnschrift.ttf); 
}


body{
    background-color: #eeeeee;
    background-image: url(../Images/background.png);
}

.background{
    background-color: #c1cbcf8f;
    padding-top: 25px;
    margin-left: 300px;
    margin-right: 300px;
    height: 80%;
}

/* Navigation Bar */

.navigation{
    top: 0px;
    background-color: #ffffff;
    border: 2px, solid, rgb(90, 90, 90);
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    height: 100px;
    position: sticky;
}

/* Logo */

.logo_container{
    position: absolute;
    display: inline-block;
    width: 300px;
}
.logo{
    margin: 15px;
    margin-left: 30px;
    width: 250px;
}

/* Search Bar */

.search_container{
    margin-left: 312px;
    margin-right: 288px;
    border: #8b8b8b, 4px, solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: #13eed4;
    height: 90px;
    transform: skew(-15deg);
}
.search_input{
    display: inline;
    font-family: 'BahnShit';
    font-size: 16px;
    transform: skew(15deg);
    border: #A2ACB0, 2px, solid;
    border-radius: 30px;
    margin-top: 18px;
    margin-left: 24%;
    margin-right: 1px;
    padding-left: 20px;
    padding-right: 8px;
    width: 45%;
    height: 44px;
}
.search_button{
    transform: skew(15deg);
    font-family: 'BahnShit';
    font-size: 16px;
    border: #A2ACB0, 2px, solid;
    border-radius: 30px;
    background-color: #ffffff;
    height: 48px;
    width: 48px;
}
.search_button:hover{
    color: #13eed4;
    border: #ffffff, 2px, solid;
    background-color: #00000000;
    cursor: pointer;
}
.search_button:active{
    transform: scale(0.95) skew(15deg);
}
.search_button_icon{ 
    width: 30px;
}
.post_button{
    position: absolute;
    transform: skew(15deg);
    font-family: 'BahnShit';
    font-size: 16px;
    border: #A2ACB0, 2px, solid;
    border-radius: 30px;
    background-color: #ffffff;
    height: 48px;
    width: 160px;
    top: 20px;
    right: 20px;
}
.post_button:hover{
    color: #ffffff;
    border: #ffffff, 2px, solid;
    background-color: #00000000;
    cursor: pointer;
}
.post_button:active{
    transform: scale(0.95) skew(15deg);
}

/* Authorization Buttons */

.auth_container{
    position: absolute;
    display: inline-block;
    padding-top: 19px;
    margin-right: 10px;
    right: 0px;
    top: 0px;
}
.auth_button{
    display: inline;
    border: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'BahnShit';
}
#login{
    color: white;
    background-color: black;
    width: 90px;
    height: 50px;
}
#login:hover{
   background-color: #13eed4;
   cursor: pointer;
}
#login:active{
    transform: scale(0.95);
}
#register{
    background-color: rgba(255, 0, 0, 0);
    height: 50px;
    border: black solid 2px;
    font-weight: bold;
    margin-right: 5px;
    text-overflow: clip; 
}
#register:hover{
   color: #13eed4;
   border-color: #13eed4;
   cursor: pointer;
}
#register:active{
    transform: scale(0.95);
}

/* Shared Authentification Pages Styles */

.auth_header{
    font-family: "BahnShit";
    font-weight: bold;
    font-size: 25px;
    border: #8b8b8b, 4px, solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    color: white;
    background-color: #17d6c0;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.auth_desc{
    font-family: "BahnShit";
    font-size: 13px;
    color: rgb(131, 131, 131);
    padding: 10px;
    text-align: center;
    line-height: 15px;
}
.auth_text{
    font-family: "BahnShit";
    font-weight: bold;
    font-size: 22px;
    color: rgb(59, 59, 59);
    margin: 5px;
    margin-top: 20px;
}
.auth_input{
    display: inline;
    font-family: 'BahnShit';
    font-size: 15px;
    border: #A2ACB0, 2px, solid;
    border-radius: 5px;
    padding-left: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    height: 48px;
}
.auth_form{
    margin-left: 55px;
    margin-right: 55px;
}
.auth_redirect{
    font-family: "BahnShit";
    font-size: 15px;
    color: rgb(131, 131, 131);
    margin-top: 12px;
    line-height: 15px;
}

/* Login Page */

.login_container{
    background-color: rgb(255, 255, 255);
    border: 1px, solid, rgba(122, 122, 122, 0.452);
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 370px;
    height: 500px;
}
.login_button{
    color: white;
    background-color: black;
    margin-top: 5px;
    width: 90px;
    height: 50px;
    border: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'BahnShit';
}
.login_button:hover{
   background-color: #13eed4;
   cursor: pointer;
}
.login_button:active{
    transform: scale(0.95);
}
/* Registration Page */

.register_container{
    background-color: rgb(255, 255, 255);
    border: 1px, solid, rgba(122, 122, 122, 0.452);
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 370px;
    height: 600px;
 }
.register_button{
    color: white;
    background-color: black;
    margin-top: 5px;
    width: 190px;
    height: 50px;
    border: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'BahnShit';
}
.register_button:hover{
   background-color: #13eed4;
   cursor: pointer;
}
.register_button:active{
    transform: scale(0.95);
}

/* Content */

#content_container{
    background-color: #c1cbcf8a;
    padding-top: 25px;
    padding-bottom: 10px;
    margin-left: 300px;
    margin-right: 300px;
    height: 3350px;
}
.content{
    display: flex;
    margin: 25px;
    margin-top: 0px;
    height: 300px;
    background-color: white;
    border-radius: 8px;
    border: 1px #b8b8b8, solid;
}
.content_header{
    top: 0px;
    width: 100%;
    font-family: "BahnShit";
    font-weight: bold;
    font-size: 25px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: #8b8b8b, 4px, solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    color: white;
    background-color: #17d6c0;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.content_image{
    object-fit: contain;
    background-color: rgb(243, 243, 243);
    border: #8b8b8b, solid, 1px;
    border-radius: 5px;
    margin: 20px;
    height: 258px;
    width: 258px;
}
.content_desc{
    font-size: 18px;
    padding-top: 10px;
    height: 180px;
}
.content_button{
    background-image: url(../Images/content_background.png);
    display: inline;
    border: 1px black, solid;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'BahnShit';
    background-color: #00000000;
    padding: 0;
    margin: 20px;
    margin-left: 0px;
    width: 100%;
}
.container_flex{
    display: flex;
    height: 256px;
}
.container_flex_bottom{
    display: flex;
    height: 40px;
}
.content_page_container{
    background-color: rgb(255, 255, 255);
    border: 1px, solid, rgba(122, 122, 122, 0.452);
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 660px;
}
.content_page_image{
    object-fit: contain;
    background-color: rgb(243, 243, 243);
    border: #8b8b8b, solid, 1px;
    border-radius: 5px;
    height: 254px;
    width: 254px;
}
.content_page_desc{
    font-family: "BahnShit";
    font-size: 18px;
    color: rgb(39, 39, 39);
    margin-left: 10px;
    padding: 10px;
    text-align: center;
    line-height: 18px;
    text-overflow: ellipsis;
    width: 470px;
    border:#b8b8b8, solid, 2px;
    border-radius: 5px;
}
.content_form{
    margin-left: 25px;
    margin-right: 25px;
}
.content_page_form{
    background-color: #17d6c0;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 17px;
    height: 292px;
}
.content_vote_container{
    display: flex;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 5px;
    height: 40px;
    padding: 5px;
}
.content_vote_subcontainer{
    display: block;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 5px;
    height: 40px;
    margin-left: 5px;
}
.content_vote_button{
    color: white;
    background-color: black;
    width: 130px;
    height: 40px;
    border: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'BahnShit';
}
.content_vote_button:hover{
   background-color: #ffffff;
   color: #17d6c0;
   cursor: pointer;
}
.content_vote_button:active{
    transform: scale(0.95);
}
.content_vote_radio{
    appearance: none;
    position: relative;
    margin: 0;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    transition: 300ms;
    background-color: rgb(243, 243, 243);
    color: #dd6d12;
    border: #8b8b8b, solid, 2px;
}

.content_vote_radio::after {
    content: "\2714";
    position: absolute;
    top: -20px;
    left: 3px;
    width: 0px;
    height: 0px;
    font-size: 48px;
    transition: 300ms;
    overflow: hidden;
}
.content_vote_radio:checked::after{
    width: 55px;
    height: 55px;
    transition: 300ms;
}
.content_vote_progress{
    position: relative;
    width: 300px;
    height: 20px;
    margin: 0;
}
.content_vote_progress::-webkit-meter-bar{
    background: none;
    border: rgb(116, 116, 116), solid, 2px;
    height: 20px;
}
.content_vote_progress::-webkit-meter-optimum-value {
    background-color: #13eed4;
}
.content_vote_text{
    font-family: "BahnShit";
    font-weight: bold;
    font-size: 16px;
    color: rgb(59, 59, 59);
    margin-bottom: 3px;
    margin-left: 8px;
}
.content_page_user_count{
    font-family: 'BahnShit';
    font-weight: bold;
    margin-left: 579px;
    padding: 5px;
    padding-top: 12px;
    border-radius: 5px;
    background-color: #ffffff;
}

/* Post Page */

.post_container{
    background-color: rgb(255, 255, 255);
    border: 1px, solid, rgba(122, 122, 122, 0.452);
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 660px;
}
.post_image_button{
    color: rgb(0, 0, 0);
    margin-top: 5px;
    width: 690px;
    height: 50px;
    border: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'BahnShit';
}
.post_image_button::file-selector-button{
    color: white;
    background-color: black;
    margin-top: 5px;
    width: 130px;
    height: 40px;
    border: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'BahnShit';
}
.post_image_button::file-selector-button:hover{
    background-color: #13eed4;
    cursor: pointer;
}
.post_input{
    display: inline;
    font-family: 'BahnShit';
    font-size: 15px;
    border: #A2ACB0, 2px, solid;
    border-radius: 5px;
    padding-left: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
}
.post_text{
    font-family: "BahnShit";
    font-weight: bold;
    font-size: 20px;
    color: rgb(59, 59, 59);
    margin: 5px;
}
/* Footer */

.footer_container{
    position: relative;
    margin-top: 100px;
}
footer{
    position: absolute;
    bottom: 0px;
    background-color: #a4b0b6;
    border: 2px, rgb(90, 90, 90), solid;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    height: 100px;
    width: 100%;
}
.footer_text{
    font-family: "BahnShit";
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: rgb(97, 97, 97);
    margin: 5px;
    margin-top: 20px;
}